body {
font-family: Arial, sans-serif;
background-color: #f8f9fa;
color: #333;
margin: 40px;
}
h1 {
color: #0056b3;
}
section {
border: 1px solid #ddd;
margin-top: 10px;
padding: 10px;
}
.esther {
background-color: #e9f7fe;
border-left: 5px solid #007bff;
padding: 10px;
}
.alejandroC {
background-color: #4dbaf0;
border-left: 5px solid #ff2200;
padding: 10px;
color: #ff2200;
}
.alejandroR{
background-color: #d1ecf1;
border-left: 5px solid #17a2b8;
padding: 10px;
color: #0c5460;
}